

#index-full-width {
    border-radius: 20px 20px 0 0;
}

#index-half-width-middle {
    border-radius: 0;
    height: 521.8px;
    object-fit: cover;
}

#index-half-width-bottom-left {
    border-radius: 0 0 0 20px;
    height: 521.8px;
    object-fit: cover;
}

#index-half-width-bottom-right {
    border-radius: 0 0 20px 0;
    height: 521.8px;
    object-fit: cover;
}