

/* Styles specific to index*/

#index-full-width {
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.index-half-width-middle {
    border-radius: 0;
    height: 521.8px;
    object-fit: cover;
    width: 100%;
}

#index-half-width-bottom-left {
    border-radius: 0 0 0 20px;
    height: 521.8px;
    object-fit: cover;
    width: 100%;
}

#index-half-width-bottom-right {
    border-radius: 0 0 20px 0;
    height: 521.8px;
    object-fit: cover;
    width: 100%;
}

.page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 1600px;
    max-width: 80vw;
    margin: 0 auto;
}

.full-width {
    position: relative;
    grid-column: 1 / -1;
    background-color: #F2EBDC;
    text-align: center;
    border-radius: 20px;
}

.half-width:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.half-width {
    position: relative;
    background-color: #F2EBDC;
    text-align: center;
    border-radius: 20px;
    font-size: 1.5em;
}

.page-content-text {
    position: absolute;
    width: 96%;
    top: 70%;
    max-width: 80vw;
    z-index: 10;
    height: fit-content;
    padding: 2%;
    background-color: #006060;
    color: #F2EBDC;
    opacity: 90%;
}