@import url(index.css);

/*GLOBAL STYLES*/

main {
    overflow-x: hidden;
}

body {
    background-color: #F2EBDC;
    margin-bottom: 100px;
}

footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: space-between;
    width: 1200px;
    max-width: 70vw;
    height: 80px;
}

.mobile-menu {
    display: none;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

.secondary-h1 {
    background-color: #EB7F00;
    color: #F2EBDC;
    font-size: 3em;
    width: 1600px;
    max-width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0 30px 0;
    border-radius: 20px 20px 0 0;
}


h2 {
    font-family: 'Orbitron', sans-serif;
    color: #F2EBDC;
    background-color: #EB7F00;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #006060;
    font-size: 1.2em;
    line-height: 1.2em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    padding: 1rem 2rem;
    width: 1600px;
    max-width: 80vw;
    font-family: orbitron, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    list-style: none;
}

.nav-bar li:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}
li a {
    text-decoration: none;
    color:#006060;
    font-size: 1.5em;
} 

.logo {
    border: 6px solid #006060;
    border-radius: 0.5em;
    padding: 6px;
    font-weight: 750;
    font-size: 2em;
    color: white;
    background-color: #EB7F00;
}

img {
    position: relative;
    height: auto;
    border-radius: 20px;
}

.secondary-page-content {
    width: 1510px;
    margin: 0 auto;
    max-width: 74vw;
    padding: 40px;
    margin-top: 20px;
    border:#EB7F00 solid 6px;
    border-radius: 0 0 20px 20px;
}

.secondary-page-content h2 {
    color: #006060;
    background-color: #F2EBDC;
}

.flexbox-img-r, .flexbox-img-l {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding-bottom: 150px;
    position: relative;
}

.flexbox-img-l .flexbox-p {
    padding-top: 80px;
}

.secondary-page-img {
    position: relative;
    height: 500px;
    width: 500px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 0%;
    padding-top: 40px;
}

.flexbox-text {
    padding-right: 10%;
}

.flexbox-p {
    width: 60%;
}

/*MEDIA QUERIES for all pages*/

@media (max-width: 1350px) {
    .page-content {
        position: relative;
        grid-template-columns: 1fr;
        margin-top: 50px;
    }

    .page-content-text {
        font-size: 24px;
    }

    .full-width .page-content-text {
        font-size: 0;
    }

    .full-width .page-content-text::after {
        content: "Making science accessible to all!";
        font-size: 16px; 
    }

    .flexbox-img-r, .flexbox-img-l {
        flex-direction: column;
        height: auto;
    }

    .secondary-page-img {
        margin: 0 auto;
        width: 100%;
        height: 400px;
        padding-top: 20px;
    }

    .flexbox-text {
        padding: 20px 0 0 0;
    }

    .flexbox-p {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    nav {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .secondary-h1 {
        font-size: 2em;
    }

    .nav-bar {
        flex-direction: column;
        display: none;
        text-align: center;
        align-self: center;
    }

    .nav-bar li {
        margin: 10px 0;
    }
    #toggle {
        display: none;
    }
    
    #toggle:checked ~ .nav-bar {
        display: block;
    }
    
    .toggle-button {
        padding: 20px;
        margin: 20px;
        align-self: center;
        width: 74vw;
        background-color: #006060;
        opacity: 60%;
        color: #F2EBDC;
        border-radius: 20px;
        text-align: center;
        font-size: 2em;
        font-family: orbitron, sans-serif;
    }

    footer {
        width: 100%;
    }

    footer p {
        font-size: 0.8em;
        
    }

    .secondary-page-content {
        border: none;
    } 
}
    
    @media (min-width: 1001px) {
        .toggle-button {
        display: none;
    }
        #toggle {
        display: none;
        } 
    }


